<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row text-center">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <h3>Đổi mật khẩu</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Mật khẩu hiện tại</label>
                            <div class="input-group m-b">
                                <span class="input-group-addon">
                                    <i class="fa fa-key"></i>
                                </span>
                                <input type="password" #txtCurrentPassWord placeholder="Nhập mật khẩu hiện tại" [(ngModel)]="currentPassWord" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu mới</label>
                            <div class="input-group m-b">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                                <input type="password" #txtNewPassWord placeholder="Nhập mật khẩu mới" [(ngModel)]="newPassWord" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu xác thực</label>
                            <div class="input-group m-b">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                                <input type="password" #txtReNewPassWord placeholder="Nhập mật khẩu xác thực" [(ngModel)]="reNewPassWord" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-primary pull-right" (click)="changePassWordAfterLogin()">
                                Thay đổi mật khẩu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>