<div class="row">
    <div class="col-lg-12">
        <ol class="ibox-title breadcrumb">
            <li>
                <ng-content select=".parentPage"></ng-content>
            </li>
            /
            <li class="active">
                <ng-content select=".currentPage"></ng-content>
            </li>
        </ol>
    </div>
</div>