<div id="wrapper">
    <app-navigation></app-navigation>
    <div id="page-wrapper" class="gray-bg">
        <app-header></app-header>
        <div class="wrapper wrapper-content animated fadeInRight">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
</div>