<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <!-- <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
                <i class="fa fa-bars"></i>
            </a>
            <div role="search" class="navbar-form-custom">
                
            </div>
            <div class="navbar-form-custom header-inputSwitch">
                
            </div> -->
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown topbar-item topbar-notification">
                <a class="m-r-sm text-muted welcome-message dropdown-toggle" data-toggle="dropdown">
                    <div>
                        <i class="topbar-icon pi pi-bell" style="font-size: 25px; position: absolute; top: 0;"
                            (click)="onClickBell()"></i>
                        <div class="notification-border-radius" *ngIf="hasNewNotification">
                            <span class="notification-number"></span>
                        </div>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-account-info" style="white-space: nowrap; margin-top: 15px; width: 330px; text-decoration: none;
                    -webkit-animation: fadeInDown 0.5s;
                    animation: fadeInDown 0.5s;">
                    <li class="layout-submenu-header">
                        <span>Bạn có thông báo mới</span>
                    </li>
                    <!-- <li class="layout-submenu-item" *ngFor="let notification of listNotifications" (click)="navigateCpn()">
                        <img
                            src="assets/images/help.svg" alt="mirage-layout" width="25px" style="margin-right: 8px;"/>
                        <div class="menu-text font-family-bold" style="font-weight: bold;">
                            <p>{{ notification.name }}</p>
                            <span class="tow-row">{{ notification.content }}</span>

                            <span class="tow-row">{{ notification.createdWhen | date:"dd/MM/yyyy" }}</span>
                        </div>
                        <i class="pi pi-angle-right icon-right"></i>
                    </li> -->
                </ul>
            </li>

            <li class="dropdown">
                <a class="m-r-sm text-muted welcome-message dropdown-toggle" data-toggle="dropdown">
                    <img class="m-profile-small" src="/assets/images/profile_small.jpg" />Xin chào, {{userFullName}}!
                </a>
            </li>
            
            <li>
                <a (click)="menu.toggle($event)">
                    <i class="pi pi-bars"></i>
                </a>
                <!-- <button type="button" pButton icon="fa fa-key" label="Show" (click)="menu.toggle($event)"></button> -->
                <p-menu #menu [popup]="true" [model]="items"></p-menu>
            </li>
            
        </ul>
    </nav>
</div>

<!-- <ng-template #popTemplate>
    <div class="input-group">
        <input class="form-control input-sm" [(ngModel)]="phoneNumber" type="text" style="width:200px;">
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary">Gọi
            </button>
        </span>
    </div>
</ng-template>
<ng-template #popTemplatePort>
    <div class="modal-header" style="padding: 5px; text-align:left">
        <button type="button" class="close" style="margin:3px 10px 0 0;" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h5 class="modal-title" style="font-size:20px">{{modalTitle}}</h5>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <input type="text" placeholder="Nhập số seri" class="input-sm form-control" [(ngModel)]="seriNumber">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="save()" type="button">Lưu</button>
        <button class="btn btn-white" (click)="bsModalRef.hide()" type="button">Đóng</button>
    </div>
</ng-template>

<ng-template #tempSelectedHub>
    <div class="modal-header" style="padding: 5px; text-align:left">
        <button type="button" class="close" style="margin:3px 10px 0 0;" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h5 class="modal-title" style="font-size:20px">{{modalTitle}}</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <h5>Bạn có muốn thay đổi đơn vị làm việc thành "<span
                    style="font-weight: bold;font-style: italic;">{{selectedHubName}}</span>" không?</h5>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="saveChangeHub()" type="button">Lưu</button>
        <button class="btn btn-white" (click)="bsModalRef.hide()" type="button">Đóng</button>
    </div>
</ng-template> -->