<app-card>
    <a class="parentPage">{{parentPage}}</a>
    <strong class="currentPage">{{currentPage}}</strong>
  </app-card>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="row" style="margin:0 auto;margin-bottom:5px; text-align: right">
            <div style="float: right;">
  
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-2">
              <label>Lọc dữ liệu</label>
            </div>
            <div class="col-md-8">
  
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-3">
              <label>SĐT đại lý</label>
              <div class="form-group">
                <input type="text" [(ngModel)]="phoneNumber" class="form-control input-sm">
              </div>
            </div>
            <div class="col-sm-3">
              <label>Tên đại lý</label>
              <div class="form-group">
                <input type="text" [(ngModel)]="name" class="form-control input-sm">
              </div>
            </div>
            <!-- <div class="col-sm-2">
              <label>Trung tâm-chi nhánh</label>
              <div class="form-group">
                <p-dropdown styleClass="select-input form-control" placeholder="Chọn chi nhánh" [(ngModel)]="branchId"
                  [options]="branchs" [filter]="true" [style]="{'width':'100%'}">
                </p-dropdown>
              </div>
            </div> -->
            <div class="col-md-2">
              <label></label>
              <div class="form-group">
                <button class="btn btn-primary" (click)="loadData()" style="margin-top: 4px;">
                  <i class="fa fa-search"></i> Tìm kiếm
                </button>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-2">
              <label></label>
              <div class="form-group">
                <button class="btn btn-primary" (click)="openModelCreateUpdate(templeteUser)" style="margin-top: 4px;">
                  <i class="fa fa-plus"></i> Thêm mới
                </button>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-sm-12">
              <p-table #dt [value]="listData" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="pageSize"
                [responsive]="true" [rowsPerPageOptions]="[10,20,50,100]" [scrollable]="true" scrollDirection="horizontal"
                [totalRecords]="totalRecords" (onPage)="onPageChange($event)">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="max-width: 50px;">STT</th>
                    <th style="max-width: 150px;">Thao tác</th>
                    <th>Mã đại lý</th>
                    <th class="p-col-normal">Tên đại lý</th>
                    <th class="p-col-normal">Số điện thoại</th>
                    <th class="p-col-normal">Địa chỉ</th>
                    <th class="p-col-normal">Vai trò</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-columns="columns" let-i="rowIndex"
                  styleClass="table table-hover">
                  <tr>
                    <td style="max-width: 50px;">{{i + 1}}</td>
                    <td style="max-width: 150px;">
                      <button type="button" class="btn btn-primary" (click)="openModelCreateUpdate(templeteUser,data)"><i
                          class="fa fa-edit"></i> Sửa</button>
                      <button type="button" class="btn btn-danger" (click)="deleteUser(templeteDeleteUser,data)"><i
                          class="fa fa-trash"></i> Xóa</button>
                    </td>
                    <td>{{data.code}}</td>
                    <td class="p-col-normal">{{data.name}}</td>
                    <td class="p-col-normal">{{data.phoneNumber}}</td>
                    <td class="p-col-normal">{{data.address}}</td>
                    <td class="p-col-normal">{{data.roleName}}</td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td [attr.colspan]="'7'">
                      Không tìm thấy dữ liệu
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                  Tổng cộng: {{totalRecords | number}}
                </ng-template>
              </p-table>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #templeteUser>
    <div class="modal-header" style="padding: 5px; text-align:left;">
      <h5 class="modal-title pull-left">Thông tin đại lý</h5>
      <button type="button" class="close" data-dismiss="modal" style="margin:3px 10px 0 0;" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <form [formGroup]="formData" novalidate>
                <div class="col-sm-12">
                  <label>Tên đại lý <span class="color-red">*</span></label>
                  <div class="form-group">
                    <input type="text" class="form-control input-sm" formControlName="name"
                      [ngClass]="checkValidate('name').border">
                    <p class="color-red">{{checkValidate('name').messageError}}</p>
                  </div>
                </div>
                <div class="col-sm-12">
                  <label>Số điện thoại <span class="color-red">*</span></label>
                  <div class="form-group">
                    <input type="text" class="form-control input-sm" formControlName="phoneNumber" 
                    onkeypress="return /[0-9]/i.test(event.key)"
                      [ngClass]="checkValidate('phoneNumber').border">
                    <p class="color-red">{{checkValidate('phoneNumber').messageError}}</p>
                  </div>
                </div>
                <div class="col-sm-12">
                  <label>Mật khẩu <span class="color-red">*</span></label>
                  <div class="form-group">
                    <input type="password" placeholder="****************" class="form-control input-sm"
                      formControlName="password" [ngClass]="checkValidate('password').border">
                    <p class="color-red">{{checkValidate('password').messageError}}</p>
                  </div>
                </div>

                <div class="col-sm-12">
                  <label>Địa chỉ <span class="color-red">*</span></label>
                  <div class="form-group">
                    <input type="text" class="form-control input-sm" formControlName="address"
                      [ngClass]="checkValidate('address').border">
                    <p class="color-red">{{checkValidate('address').messageError}}</p>
                  </div>
                </div>
  
                <div class="col-sm-12">
                  <label>Vai trò <span class="color-red">*</span></label>
                  <div class="form-group">
                    <p-dropdown styleClass="select-input form-control {{checkValidate('roleId').border}}"
                      placeholder="Chọn vai trò" formControlName="roleId" [options]="roles" [filter]="true"
                      [style]="{'width':'100%'}">
                    </p-dropdown>
                    <p class="color-red">{{checkValidate('roleId').messageError}}</p>
                  </div>
                </div>
              </form>
            </div>
          </div>
  
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" [disabled]="formData.pristine||(formData.status!='VALID')" class="btn btn-primary"
        (click)="save()">{{!isEdit?'Tạo':'Lưu'}}</button>
    </div>
  </ng-template>
  
  
  <ng-template #templeteDeleteUser>
    <div class="modal-header" style="padding: 5px; text-align:left;">
      <h5 class="modal-title pull-left">Xóa đại lý</h5>
      <button type="button" class="close" data-dismiss="modal" style="margin:3px 10px 0 0;" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
    </div>
    <div class="modal-body" style="overflow:hidden;">
      <div class="ibox-content">
        <div class="row">
          <p>Bạn có chắc chắn xóa đại lý: <span class="color-red" style="font: size 14px;">{{dataRow.name}}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="confirmDelete()">Xóa</button>
    </div>
  </ng-template>