<div class="gray-bg" style="width:100%; height: 100%;" ng-controller="StoryController as vm">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div (keydown)="keyDownFunction($event)" (keyup.enter)="login()">
            <div>
                <!-- <img [src]="evLogo" style="width: 100px;" /> -->
            </div>
            <h3>Welcome to {{ this.evName }}</h3>
            <div class="m-t">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" required="" [(ngModel)]="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required=""
                        [(ngModel)]="password">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b" (click)="login()">Đăng nhập</button>

            </div>
        </div>
    </div>
</div>