<div class="exception-body access">
    <div class="exception-content">
        <div class="moon">
            <img src="assets/layout/images/pages/asset-moon.svg" alt="mirage-layout" />
        </div>
        <div class="exception-panel">
            <div class="exception-panel-content">
                <span class="tag">401</span>
                <h1>Truy cập bị từ chối</h1>
                <div class="seperator"></div>
                <p>Không có quyền truy cập. Vui lòng liên hệ bộ phận IT.</p>
                <button pButton type="button" [routerLink]="['/']" label="Quay lại DashBoard"></button>
            </div>
        </div>
        <div class="desert"></div>
    </div>
</div>