/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./assets/styles/style";
// @import '~bootstrap/scss/bootstrap';
/* Import main Inspinia style */

.edit-pup {
    width: 50% !important;
}

.edit-body-pup {
    padding: 15px !important;
    // height: 60px !important;
}

.hidden-iframe {
    width: 0;
    height: 0;
    border: none;
}

.bot-barcode {
    text-align: center;
    margin-top: 0px;
}

.barcode {
    margin-top: 0px;
    margin-bottom: 10px;
    height: 50px;
}
.ui-table-scrollable-header,
.ui-table-scrollable-footer {
    overflow: initial !important;
    border: 0 none;
}
.ui-table-scrollable-body {
    /* overflow: auto; */
    overflow: initial !important;
    position: relative;
}
.table-responsive {
    min-height: 0.01%;
    overflow: scroll !important;
    /* overflow-x: auto; */
}
.batman.in {
    height: 85px !important;
}
.ui-table .ui-table-tbody > tr.ui-state-highlight {
    background-color: #88cec0 !important;
    color: black !important;
    /* color: #FFFFFF; */
}

body .ui-radiobutton .ui-radiobutton-box {
    .ui-radiobutton-ico {
        top: 0 !important;
    }
    // border: 1px solid rgba(0, 0, 0, 0.15);
    // background-color: #ffffff;
    border-radius: 0 !important;
}
.doubleScroll-scroll-wrapper {
    width: 100% !important;
}
.set_package {
    width: 75%;
}
#parentShipment:hover {
    //background: #ff0000 !important;
    color: #ff0000 !important;
}
.p-col-time,
.p-col-dateNoTime,
.p-col-normal {
    font-size: 11px !important;
    text-transform: none !important;
}
.td-hd th {
    background-color: #17a185 !important;
    color: white !important;
}
.td-bd td {
    background-color: #235b4f !important;
    color: white !important;
}
.form-group label {
    margin-bottom: 0 !important;
}
.btn-Dropdown {
    height: 24px !important;
    width: 18px !important;
    background-color: white !important;
    color: black !important;
    border-color: #d6d6d6 !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}
